/*
id == #
class == .
*/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

:root{
    --colorTextoPlaceholder:rgb(255, 123, 0);
}

/*Placeholder*/
::placeholder{
    color:var(--colorTextoPlaceholder);
}


/*Inicio Index*/



.body-index{

    margin: 0%;
    padding:0;
    font-family: 'DynaPuff', cursive;
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
/*



#titulo{

    margin: 0 auto;
    padding: 0;
    text-align:absolute;
    background-color:yellow;
    border-radius:50px;
    color:blue;
    text-shadow:1px 3px 3px;
    

}



.nav{

   background:red;

}



#derecha{

    float:left;
    margin:10px;
    list-style:none;
    text-decoration:none;
    color:white;
    background-color:red;
    border-radius:10px;

}

#opciones-encabezado{

    color:white;
    text-decoration:none;

}
*/

.div-padre{

    display: flex;
    position: fixed;
    width: 100%;
    background-color:rgb(255, 146, 4);
    border-radius:10px;
    animation-name:animacionDivTitle;
    animation-duration:2s;
    height:5em;
    top: 0;


}

@keyframes animacionDivTitle {

    0%{
        top:-10px;
    }
    25%{ 
        top:0px;
    }
    50%{ 
        top:0px;
    }
    100%{
        top:0px;
    }

}



#Title-index
{

    color:rgb(89, 255, 47);
    font-size:1.7em;
    text-shadow: 3px 5px 5px black;
    text-align:center;


}

#circulo{

    height:5em;
    width:5em;
    background:#3b3a3b;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display:flex;
    position:absolute;
    top:0;
    right:0;
    cursor: pointer;
    /*background-image: url(../Images/profile/profile.png);*/
    

}

@media screen and (min-width:500px){
    .div-padre{
        width: 100%;
        height: 5em;
    }
    #Title-index{
        font-size:2em;
    }

}



/*Invento con Youtube*/

.gallery{
    
    width: 90%;
    padding: 7% 0;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    border-radius: 10px;
    
}

.gallery_img{
    min-width: 200px;
    flex:10em;
    border-radius:10px;
    height: 300px;
    width: 300px;
    margin-top: 2.5em;
    
}


/* Style the navigation menu */
.navbar1 {
    width: 100%;
    background-color: #555;
    bottom: 0;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    display:flex;
    justify-content:center;
    border-radius:20px;
    animation-name: animacionIndex;
    animation-duration: 2s;
    
  }

  @keyframes animacionIndex {
    0%{
        bottom:-10px;
    }
    
    25%{ 
        bottom:0px;   
    }
    50%{
        bottom:0px;      
    }
    100%{ 
        bottom:0px;   
    }

    
}



.hijos-navbar{
   
    margin:0px auto;
    
}

  
  /* Navigation links */
  .navbar1 img {
    float:left;
    display: block;
    text-align: center; /* If you want the text to be centered */
    padding:2%;
    border-radius:10px;
    width: 50px;
    cursor: pointer;
    
  }
  
  /* Add a background color on mouse-over */
  .navbar1 img:hover {
    background-color: rgb(28, 230, 55);
  }
  
  /* Style the current/active link */
  .navbar1 img.active {
    background-color: #11ffa8;
  }
  

  
  


/*Parte de videos e imagenes*/






/*Scroll-bar*/
::-webkit-scrollbar{
    width:1.5em;
    background:grey;
}

::-webkit-scrollbar-track{
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius:3em;
}
::-webkit-scrollbar-thumb{
    /*background-image:url(/Images/Facebook.svg);*/
    background-size: contain; 
    background-repeat:no-repeat;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:2em;
}


/*FIN INDEX*/

/*REGISTRO*/

:root{
    --colorTextos:rgb(0, 38, 255);
}

::before,
::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body-registro{

    background-color:red;
    font-family: 'DynaPuff', cursive;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff00aa, #f7e11e, #47c315);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff00aa, #f7e11e, #47c315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 900px;
    display: flex;
    justify-content:center;
    align-items:center;

}

#tituloAuxilitos{
    font-size:2em;
    text-align:center;
    background:linear-gradient(to right, #ff1500, #25f71e);
    border-radius:10px;
    color: white;
}

#tituloRegistro{

    font-size:2em;
    text-align:center;
    color:red;

}

.form{
    background:white;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius:10px;
    width:100%;
    margin:auto;
    position:relative;
    animation-name:mianimacion;
    animation-duration:3s;
    

}

@keyframes mianimacion {

    0%{
        top:0px;
    }
    
    25%{ 
        top:-50px;   
    }
    50%{
        top:-50px;      
    }
    100%{ 
        top:0px;   
    }

}

/*Espaciado entre inputs y botones*/
.form .grupo{
    position:relative;
    margin:25px;
    /*background:black;*/
}

.input{

    background:none;
    color:var(--colorTextoPlaceholder);
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    font-family: 'DynaPuff', cursive;

}

.input:focus{
    outline:none;
    color:var(--colorTextoPlaceholder);
}

.label{ 
    color:var(--colorTextos);
    /*color:white;*/
    font-size:16px;
    position:absolute;
    left:5px;
    top: 10px;
    transition:0.7s ease all;
    pointer-events: none;
    
}

.input:focus~label,
.input:valid~label{
    top: -14px;
    font-size:12px;
    color:rgb(177, 117, 6);
}

.barra{
    position:relative;
    display:block;
    width:100%;
}

.barra::before{
    content:"";
    height:2px;
    width: 0%;
    bottom:0;
    position:absolute;
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition:0.3s ease width;
    left:0;
}

.input:focus~.barra::before{
    width:100%;
}

#btn_Registrar{

    font-family: 'DynaPuff', cursive;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:10px;
    display: block;
    width: 80%;
    margin:10px auto;
    color:black;
    height: 40px;
    font-size: 16px;
    cursor:pointer;

}

#btn_Regresar{

    font-family: 'DynaPuff', cursive;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:10px;
    display: block;
    width: 60%;
    margin:10px auto;
    color:black;
    height: 40px;
    font-size: 16px;
    cursor:pointer;

}

.form div button:hover {

    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 100px;
    text-shadow: 1px 1px 6px rgb(217, 255, 0); 

}

@media screen and (max-width:500px){
    .form{
        width: 80%;
    }    
}

/*FIN REGISTRO*/


/*INICIO RECUPERAR CONTRASEÑA*/

.body_recuperar_contrasena{

    background-color:red;
    font-family: 'DynaPuff', cursive;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ff55, #ce7f19, #c0c315);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00ff55, #ce7f19, #c0c315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 600px;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    

}

#correo_Recuperar_contrasena{
    color:var(--colorTextoPlaceholder);
}

#btn_recibirCodigo{

    font-family: 'DynaPuff', cursive;
    border-radius: 10px;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ff55, #ce7f19, #c0c315);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00ff55, #ce7f19, #c0c315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;

}


.form_recuperar_contrasena{

    width:100%;
    margin:auto;
    position:relative;
    animation-name:mianimacion;
    animation-duration:3s;
    

}

#btn_regresarALogin{

    font-family: 'DynaPuff', cursive;
    border-radius: 10px;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ff55, #ce7f19, #c0c315);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00ff55, #ce7f19, #c0c315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;

}

/*FIN RECUPERAR CONTRASEÑA*/

/*INICIO RETOS*/

.container-padre{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:5em;

}

.container-trivias{

    width: 50%;

}

#title-trivia{
    user-select:none;
}

#btn-create-trivia{

    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    font-size:20px;
    cursor: pointer;
    

}

.container-adivinar{

    width: 50%;

}

#title-adivinar{
    user-select: none;
}

#btn-create-adivinanza{

    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(17, 171, 243);
    color: aliceblue;
    font-size:20px;
    cursor: pointer;
}

.container-padre button:hover {

    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    
}

/*FIN RETOS*/

/*INICIO AJUSTES*/

.body-ajustes{
    font-family: 'DynaPuff', cursive;
    background: #F7971E;  /* fallback for old browsers */
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

}

.container-perfil-padre
{
    
    padding:100px;

}

.container-perfil-hijo
{
    margin:3em;
}

#enlace{

    font-size:2em;
    text-decoration: none;
    border-radius:10px;
    cursor: pointer;
    border:black;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
    
    

}

#enlace-btn{
    font-size:2em;
    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    cursor: pointer;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
    

}

#version-app
{
    color: #3a01f6;
    font-size: 1.1em;
}

#enlace:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; 
}

#enlace-btn:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; 
}

/*FIN AJUSTES*/

/*INICIO PERFIL*/

.body-perfil{
   
    margin: 0 auto;
    padding: 0;
    font-family: 'DynaPuff', cursive;
    background: #F7971E;  /* fallback for old browsers */
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 3em;
    margin-right: 3em;


}

#a-regresar-perfil
{
    font-size:1.5em;
    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    cursor: pointer;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
    
}

.form1{

    background:white;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius:10px;
    width:100%;
    margin:auto;
    position:relative;
    animation-name:mianimacion;
    animation-duration:3s;
    

}

.container-padre1{
    margin-top: -3em;
    margin: 0 auto;
    position: relative;
    justify-content:center;
    display:grid;
    align-items: center;
}

.container-hijo-1{
    margin:10px;
    align-items:center;
    text-align:center;
}

.container-padre
{
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    background:white;
    border-radius: 10px;
    animation-name:mianimacion;
    animation-duration:3s;


}

.container-1
{
    width: 50%;
    font-size: 1.5em;
}

.container-2
{
    width: 50%;
    font-size:1.5em;
}



#label-name
{
    font-size:1.5em;
    margin-left:10px;
}

.imagen-perfil-perfil{
    /* height:10em; */
    /* width:10em; */
    background:#3b3a3b;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    display:flex;
    justify-content: center;
    margin-left:1.5em;
    cursor: pointer;
    
}

@media screen and (max-width:750px){
    .imagen-perfil-perfil{
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
        margin-left:3.5em;
    }    
}

@media screen and (max-width:300px){
    .imagen-perfil-perfil{
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
        margin-left:1em;
    }    
}

#btn-cambiar-imagen-perfil
{
    font-size:1.1em;
    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    cursor: pointer;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
    
    
}

#btn-actualizar-image
{
    font-size:1.5em;
    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    cursor: pointer;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
   
}


#btn-actualizar-info-perfil
{
    font-size:1.5em;
    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: rgb(216, 203, 28);
    color: aliceblue;
    cursor: pointer;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
    
}

.footer-perfil-perfil{
width: 100%;
background-color: rgb(0, 89, 255);
bottom: 0;
position: fixed;
margin: 0 auto;
text-align: center;
display:flex;
justify-content:center;
border-radius:20px;
color: white;
font-size: 1.5em;
}


.btn-cambiar-contrasena-perfil
{
    background: #00ff55;
    border-radius: 10px;
    font-family:'DynaPuff', cursive;
    background-color: rgb(216, 203, 28);
    cursor: pointer;
    color: #3a01f6;
    background:linear-gradient(to right, #bdf71e, #26ff00, #bdf71e);
    font-size: 1.1em;
}

.content-retos-Perfil{

    padding-left: -50px;

}


/*FIN PERFIL*/